{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}"rel="stylesheet" type="text/css">
    <title>Sitema Fundaj Mobile</title>
</head>
<body>

    <div class="alert alert-success" role="alert" >
    <div class="panel-body">
        <h1>Sistema Fundaj Mobile <small>Beta</small></h1>
        <a href="http://172.23.50.24:8000/sistema/admin"><button type="button" class="btn btn-success">Painel Adminstrativo</button></a>
        <a href="http://172.23.50.24:8000/sistema/api/"><button type="button" class="btn btn-success">API</button></a>
    </div>
    </div>
</body>
</html>